@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

/* Remove center layout */
body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: #0f172a; /* dark blue */
  color: white;
}